<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Doccure - Error 404</title>

<link rel="shortcut icon" type="image/x-icon" href="../assets_admin/img/favicon-12.png">

<link rel="stylesheet" href="../assets_admin/libs/bootstrap/css/bootstrap.min-12.css">

<link rel="stylesheet" href="../assets_admin/css/font-awesome.min-12.css">

<link rel="stylesheet" href="../assets_admin/css/feathericon.min-12.css">
<link rel="stylesheet" href="../assets_admin/libs/morris/morris-12.css">

<link rel="stylesheet" href="../assets_admin/libs/select2/dist/css/select2.min-12.css">

<link rel="stylesheet" href="../assets_admin/css/bootstrap-datetimepicker.min-12.css">

<link rel="stylesheet" href="../assets_admin/libs/fullcalendar/fullcalendar.min-12.css">

<link rel="stylesheet" href="../assets_admin/libs/datatables/css/datatables.min-12.css">

<link rel="stylesheet" href="../assets_admin/css/app-12.css"> </head>
<body>

<div class="main-wrapper error-page">
<div class="error-box">
<h1>404</h1>
<h3 class="h2 mb-3"><i class="fa fa-warning"></i> Oops! Page not found!</h3>
<p class="h4 font-weight-normal">The page you requested was not found.</p>
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/index_admin" class="btn btn-primary">Back to Home</a>
</div>
</div>


<script src="../assets_admin/libs/jquery/jquery.min-12.js"></script>

<script src="../assets_admin/libs/bootstrap/js/bootstrap.bundle.min-12.js"></script>

<script src="../assets_admin/libs/slimscroll/jquery.slimscroll.min-12.js"></script>
<script src="../assets_admin/js/respond.min-12.js"></script>

<script src="../assets_admin/js/pages/form-validation.init-12.js"></script>

<script src="../assets_admin/js/jquery.maskedinput-12.js"></script>
<script src="../assets_admin/js/pages/mask.init-12.js"></script>

<script src="../assets_admin/libs/select2/dist/js/select2.min-12.js"></script>

<script src="../assets_admin/js/moment.min-12.js"></script>
<script src="../assets_admin/js/bootstrap-datetimepicker.min-12.js"></script>

<script src="../assets_admin/js/jquery-ui.min-12.js"></script>
<script src="../assets_admin/libs/fullcalendar/fullcalendar.min-12.js"></script>
<script src="../assets_admin/js/pages/fullcalendar.init-12.js"></script>

<script src="../assets_admin/libs/datatables/js/jquery.dataTables.min-12.js"></script>
<script src="../assets_admin/libs/datatables/js/datatables.min-12.js"></script>

<script src="../assets_admin/js/app-12.js"></script>
</body>
</html>