<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure - Login</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets_admin/img/favicon-1.png' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/libs/bootstrap/css/bootstrap.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/css/font-awesome.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/css/feathericon.min-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets_admin/libs/morris/morris-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/libs/select2/dist/css/select2.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/css/bootstrap-datetimepicker.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/libs/fullcalendar/fullcalendar.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/libs/datatables/css/datatables.min-1.css' %}">

    <link rel="stylesheet" href="{% static 'assets_admin/css/app-1.css' %}">
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="{% static 'assets_admin/img/logo-white.png' %}" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password?</h1>
                            <p class="account-subtitle">Enter your email to get a password reset link</p>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong> <a href="#" class="alert-link"></a> 
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      </button>
                      </div>{% endfor %}
                      {% endif %}
                            <form method="post">{% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Email">
                                </div><div class="form-group">
                                    <input class="form-control" type="text" name="last_name" placeholder="Enter Last Name">
                                </div><div class="form-group">
                                    <input class="form-control" type="password" name="new_password" placeholder="New password">
                                </div><div class="form-group">
                                    <input class="form-control" type="password" name="con_password" placeholder="Confirm password">
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                                </div>
                            </form>

                            <div class="text-center dont-have">Remember your password? <a
                                    href="{% url 'dash_access' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../assets_admin/libs/jquery/jquery.min-10.js"></script>

    <script src="../assets_admin/libs/bootstrap/js/bootstrap.bundle.min-10.js"></script>

    <script src="../assets_admin/libs/slimscroll/jquery.slimscroll.min-10.js"></script>
    <script src="../assets_admin/js/respond.min-10.js"></script>

    <script src="../assets_admin/js/pages/form-validation.init-10.js"></script>

    <script src="../assets_admin/js/jquery.maskedinput-10.js"></script>
    <script src="../assets_admin/js/pages/mask.init-10.js"></script>

    <script src="../assets_admin/libs/select2/dist/js/select2.min-10.js"></script>

    <script src="../assets_admin/js/moment.min-10.js"></script>
    <script src="../assets_admin/js/bootstrap-datetimepicker.min-10.js"></script>

    <script src="../assets_admin/js/jquery-ui.min-10.js"></script>
    <script src="../assets_admin/libs/fullcalendar/fullcalendar.min-10.js"></script>
    <script src="../assets_admin/js/pages/fullcalendar.init-10.js"></script>

    <script src="../assets_admin/libs/datatables/js/jquery.dataTables.min-10.js"></script>
    <script src="../assets_admin/libs/datatables/js/datatables.min-10.js"></script>

    <script src="../assets_admin/js/app-10.js"></script>
</body>

</html>