<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Doccure - Form Mask</title>

<link rel="shortcut icon" type="image/x-icon" href="../assets_admin/img/favicon-21.png">

<link rel="stylesheet" href="../assets_admin/libs/bootstrap/css/bootstrap.min-21.css">

<link rel="stylesheet" href="../assets_admin/css/font-awesome.min-21.css">

<link rel="stylesheet" href="../assets_admin/css/feathericon.min-21.css">
<link rel="stylesheet" href="../assets_admin/libs/morris/morris-21.css">

<link rel="stylesheet" href="../assets_admin/libs/select2/dist/css/select2.min-21.css">

<link rel="stylesheet" href="../assets_admin/css/bootstrap-datetimepicker.min-21.css">

<link rel="stylesheet" href="../assets_admin/libs/fullcalendar/fullcalendar.min-21.css">

<link rel="stylesheet" href="../assets_admin/libs/datatables/css/datatables.min-21.css">

<link rel="stylesheet" href="../assets_admin/css/app-21.css"> </head>
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/index_admin" class="logo">
<img src="../assets_admin/img/logo-16.png" alt="Logo">
</a>
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/index_admin" class="logo logo-small">
<img src="../assets_admin/img/logo-small-15.png" alt="Logo" width="30" height="30">
</a>
</div>

<a href="javascript:void(0);" id="toggle_btn">
<i class="fe fe-text-align-left"></i>
</a>
<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fa fa-search"></i></button>
</form>
</div>

<a class="mobile_btn" id="mobile_btn">
<i class="fa fa-bars"></i>
</a>


<ul class="nav user-menu">

<li class="nav-item dropdown noti-dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i class="fe fe-bell"></i> <span class="badge rounded-pill">3</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="../assets_admin/img/doctors/doctor-thumb-01-15.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="../assets_admin/img/patients/patient1-15.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="../assets_admin/img/patients/patient2-15.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="../assets_admin/img/patients/patient3-15.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img"><img class="rounded-circle" src="../assets_admin/img/profiles/avatar-01-15.jpg" width="31" alt="Ryan Taylor"></span>
</a>
<div class="dropdown-menu">
<div class="user-header">
<div class="avatar avatar-sm flex-shrink-0">
<img src="../assets_admin/img/profiles/avatar-01-15.jpg" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6>Ryan Taylor</h6>
<p class="text-muted mb-0">Administrator</p>
</div>
</div>
<a class="dropdown-item" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/profile">My Profile</a>
<a class="dropdown-item" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/settings">Settings</a>
<a class="dropdown-item" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/login">Logout</a>
</div>
</li>

</ul>

</div>
 
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
<span>Main</span>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/index_admin"><i class="fe fe-home"></i> <span>Dashboard</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/appointment-list"><i class="fe fe-layout"></i> <span>Appointments</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/specialities"><i class="fe fe-users"></i> <span>Specialities</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/doctor-list"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/patient-list"><i class="fe fe-user"></i> <span>Patients</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/reviews"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/transactions-list"><i class="fe fe-activity"></i> <span>Transactions</span></a>
</li>
<li class="">
<a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/settings"><i class="fe fe-vector"></i> <span>Settings</span></a>
</li>
<li class="submenu">
<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/invoice-report">Invoice Reports</a></li>
</ul>
</li>
<li class="menu-title">
<span>Pages</span>
</li>
<li class="">
<a href="profile"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
</li>
<li class="submenu">
<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/login"> Login </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/register"> Register </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/forgot-password"> Forgot Password </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/lock-screen"> Lock Screen </a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/error-404">404 Error </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/error-500">500 Error </a></li>
</ul>
</li>
<li class="">
<a href="blank-page"><i class="fe fe-file"></i> <span>Blank Page</span></a>
</li>
<li class="menu-title">
<span>UI Interface</span>
</li>
<li class="">
<a href="components"><i class="fe fe-vector"></i> <span>Components</span></a>
</li>
<li class="submenu">
<a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/form-basic-inputs">Basic Inputs </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/form-input-groups">Input Groups </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/form-horizontal">Horizontal Form</a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/form-vertical"> Vertical Form </a></li>
<li><a class="active" href="form-mask.html"> Form Mask </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/form-validation"> Form Validation </a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/tables-basic">Basic Tables </a></li>
<li><a class="" href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/data-tables">Data Table </a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li class="submenu">
<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
<li class="submenu">
<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a href="javascript:void(0);">Level 3</a></li>
<li><a href="javascript:void(0);">Level 3</a></li>
</ul>
</li>
<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
</ul>
</li>
<li>
<a href="javascript:void(0);"> <span>Level 1</span></a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>


<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<h3 class="page-title">Form Mask</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/index_admin">Dashboard</a></li>
<li class="breadcrumb-item active">Form Mask</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-header">
<h5 class="card-title">Form Mask</h5>
<p class="card-text">Input masks can be used to force the user to enter data conform a specific format. Unlike validation, the user can't enter any other key than the ones specified by the mask.</p>
</div>
<div class="card-body">
<form action="#">
<div class="form-group">
<label>Phone</label>
<input type="text" id="phone" class="form-control">
<span class="form-text text-muted">(999) 999-9999</span>
</div>
<div class="form-group">
<label>Date</label>
<input type="text" id="date" class="form-control">
<span class="form-text text-muted">dd/mm/yyyy</span>
</div>
<div class="form-group">
<label>SSN field 1</label>
<input type="text" id="ssn" class="form-control">
<span class="form-text text-muted">e.g "999-99-9999"</span>
</div>
<div class="form-group">
<label>Phone field + ext.</label>
<input type="text" id="phoneExt" class="form-control">
<span class="form-text text-muted">+40 999 999 999</span>
</div>
<div class="form-group">
<label>Product Key</label>
<input type="text" id="product" class="form-control">
<span class="form-text text-muted">e.g a*-999-a999</span>
</div>
<div class="form-group">
<label>Currency</label>
<input type="text" id="currency" class="form-control">
<span class="form-text text-muted">$ 999,999,999.99</span>
</div>
<div class="form-group">
<label>Eye Script</label>
<input type="text" id="eyescript" class="form-control">
<span class="form-text text-muted">~9.99 ~9.99 999</span>
</div>
<div class="form-group">
<label>Percent</label>
<input type="text" id="pct" class="form-control">
<span class="form-text text-muted">e.g "99%"</span>
</div>
<div class="form-group mb-0">
<label>Credit Card Number</label>
<input type="text" class="form-control" id="ccn">
<span class="form-text text-muted">e.g "999.999.999.9999"</span>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="../assets_admin/libs/jquery/jquery.min-21.js"></script>

<script src="../assets_admin/libs/bootstrap/js/bootstrap.bundle.min-21.js"></script>

<script src="../assets_admin/libs/slimscroll/jquery.slimscroll.min-21.js"></script>
<script src="../assets_admin/js/respond.min-21.js"></script>

<script src="../assets_admin/js/pages/form-validation.init-21.js"></script>

<script src="../assets_admin/js/jquery.maskedinput-21.js"></script>
<script src="../assets_admin/js/pages/mask.init-21.js"></script>

<script src="../assets_admin/libs/select2/dist/js/select2.min-21.js"></script>

<script src="../assets_admin/js/moment.min-21.js"></script>
<script src="../assets_admin/js/bootstrap-datetimepicker.min-21.js"></script>

<script src="../assets_admin/js/jquery-ui.min-21.js"></script>
<script src="../assets_admin/libs/fullcalendar/fullcalendar.min-21.js"></script>
<script src="../assets_admin/js/pages/fullcalendar.init-21.js"></script>

<script src="../assets_admin/libs/datatables/js/jquery.dataTables.min-21.js"></script>
<script src="../assets_admin/libs/datatables/js/datatables.min-21.js"></script>

<script src="../assets_admin/js/app-21.js"></script>
</body>
</html>