<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Doccure - Lock Screen</title>

<link rel="shortcut icon" type="image/x-icon" href="../assets_admin/img/favicon-11.png">

<link rel="stylesheet" href="../assets_admin/libs/bootstrap/css/bootstrap.min-11.css">

<link rel="stylesheet" href="../assets_admin/css/font-awesome.min-11.css">

<link rel="stylesheet" href="../assets_admin/css/feathericon.min-11.css">
<link rel="stylesheet" href="../assets_admin/libs/morris/morris-11.css">

<link rel="stylesheet" href="../assets_admin/libs/select2/dist/css/select2.min-11.css">

<link rel="stylesheet" href="../assets_admin/css/bootstrap-datetimepicker.min-11.css">

<link rel="stylesheet" href="../assets_admin/libs/fullcalendar/fullcalendar.min-11.css">

<link rel="stylesheet" href="../assets_admin/libs/datatables/css/datatables.min-11.css">

<link rel="stylesheet" href="../assets_admin/css/app-11.css"> </head>
<body>

<div class="main-wrapper login-body">
<div class="login-wrapper">
<div class="container">
<div class="loginbox">
<div class="login-left">
<img class="img-fluid" src="../assets_admin/img/logo-8.png" alt="Logo">
</div>
<div class="login-right">
<div class="login-right-wrap">
<div class="lock-user">
<img class="rounded-circle" src="../assets_admin/img/profiles/avatar-02.jpg" alt="User Image">
<h4>John Doe</h4>
</div>

<form action="index_admin">
<div class="form-group">
<input class="form-control" type="text" placeholder="Password">
</div>
<div class="form-group mb-0">
<button class="btn btn-primary w-100" type="submit">Enter</button>
</div>
</form>

<div class="text-center dont-have">Sign in as a different user? <a href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/admin/login">Login</a></div>
</div>
</div>
</div>
</div>
</div>
</div>


<script src="../assets_admin/libs/jquery/jquery.min-11.js"></script>

<script src="../assets_admin/libs/bootstrap/js/bootstrap.bundle.min-11.js"></script>

<script src="../assets_admin/libs/slimscroll/jquery.slimscroll.min-11.js"></script>
<script src="../assets_admin/js/respond.min-11.js"></script>

<script src="../assets_admin/js/pages/form-validation.init-11.js"></script>

<script src="../assets_admin/js/jquery.maskedinput-11.js"></script>
<script src="../assets_admin/js/pages/mask.init-11.js"></script>

<script src="../assets_admin/libs/select2/dist/js/select2.min-11.js"></script>

<script src="../assets_admin/js/moment.min-11.js"></script>
<script src="../assets_admin/js/bootstrap-datetimepicker.min-11.js"></script>

<script src="../assets_admin/js/jquery-ui.min-11.js"></script>
<script src="../assets_admin/libs/fullcalendar/fullcalendar.min-11.js"></script>
<script src="../assets_admin/js/pages/fullcalendar.init-11.js"></script>

<script src="../assets_admin/libs/datatables/js/jquery.dataTables.min-11.js"></script>
<script src="../assets_admin/libs/datatables/js/datatables.min-11.js"></script>

<script src="../assets_admin/js/app-11.js"></script>
</body>
</html>