{% extends "admin/layout.html" %}
{% block img1 %}{{subadmin.admin_image}}{% endblock %}
{% block img %}<img src="/media/{{subadmin.admin_image}}" alt="User Image"
                                    class="avatar-img rounded-circle">{% endblock %}
{% block user %}{{c_user.first_name}} {{c_user.last_name}}{% endblock %}
{% block body %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List of Patient</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="https://doccure.dreamguystech.com/laravel/template-cardiology/public/index_admin">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
                        <li class="breadcrumb-item active">Patient</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>Patient Name</th>
                                            
                                            <th>Address</th>
                                            <th>Phone</th>
                                          
                                            <th class="text-end">Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for patient in patients %}
                                        <tr>
                                            <td>#PT{{patient.id}}</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href=""
                                                        class="avatar avatar-sm me-2"><img
                                                            class="avatar-img rounded-circle"
                                                            src="/media/{{patient.patient.patient_image}}"
                                                            alt="User Image"></a>
                                                    <a
                                                        href="">{{patient.first_name}} </a>
                                                </h2>
                                            </td>
                                           
                                            <td>{{patient.patient.address}}</td>
                                            <td>{{patient.patient.phone}}</td>
                                           
                                            <td class="text-end">$100.00</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}