{% extends "doc-basic.html" %}
{% block userimg %}<img src="/media/{{doctor.doc_image}}" alt="User Image">{% endblock%}
{% block user %}{{doct.first_name}} {{doct.last_name}}{% endblock %}
{% block degree %}{{degree.degree}} , {{service.service}} & {{special.name}}{% endblock %}
{% block containt %}
{% load static %}

        </div>
        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="row row-grid">
        {% if appointments_with_details %}
        {% for appointments_with_detail in appointments_with_details %}
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="card widget-profile pat-widget-profile">
                <div class="card-body">
                  <div class="pro-widget-content">
                    <div class="profile-info-widget">
                      <a href="/media/{{appointments_with_detail.patient.patient_image}}"
                        class="booking-doc-img">
                        <img src="/media/{{appointments_with_detail.patient.patient_image}}" alt="User Image">
                      </a>
                      <div class="profile-det-info">
                        <h3><a
                            href="{{appointments_with_detail.patient.patient_profile}}">{{appointments_with_detail.patient.user.get_full_name}}</a></h3>
                        <div class="patient-details">
                          <h5><b>Patient ID :</b> P00{{appointments_with_detail.patient.id}}</h5>
                          <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{appointments_with_detail.patient.state}}, {{appointments_with_detail.patient.country}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="patient-info">
                    <ul>
                      <li>Phone <span>+{{appointments_with_detail.patient.phone}}</span></li>
                      <li>Age <span>38 Years, {{appointments_with_detail.patient.dender}}</span></li>
                      <li>Blood Group <span>{{appointments_with_detail.patient.blood_group}}</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}